In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

#import our random data 
df = pd.read_csv('./troop_movements.csv')

def is_resistance(x):
    if x == 'resistance':
        return True
    else:
        return False
df['is_resistance'] = df['empire_or_resistance'].apply(is_resistance)
print(df)

               timestamp  unit_id     unit_type empire_or_resistance  \
0    2023-10-10 09:54:43        1         at-st               empire
1    2023-10-10 09:54:42        2       unknown           resistance
2    2023-10-10 09:54:41        3        x-wing               empire
3    2023-10-10 09:54:40        4       unknown           resistance
4    2023-10-10 09:54:39        5        x-wing               empire
..                   ...      ...           ...                  ...
995  2023-10-10 09:38:08      996  tie_silencer           resistance
996  2023-10-10 09:38:07      997  tie_silencer           resistance
997  2023-10-10 09:38:06      998        x-wing           resistance
998  2023-10-10 09:38:05      999  stormtrooper           resistance
999  2023-10-10 09:38:04     1000  stormtrooper               empire

     location_x  location_y  destination_x  destination_y   homeworld  \
0             2           2              9              1     Dagobah
1             4           6              8              9     Iktotch
2             2           1              2              5       Cerea
3             6           2              7              8  Haruun Kal
4             4           3              2              3  Haruun Kal
..          ...         ...            ...            ...         ...
995           2           4              9              1     Troiken
996           8           4              9              3     Vulpter
997           8           1              6              9       Rodia
998          10           5              6              3   Malastare
999           5           8              6              2    Mon Cala

     is_resistance
0            False
1             True
2            False
3             True
4            False
..             ...
995           True
996           True
997           True
998           True
999          False

[1000 rows x 10 columns]

In [31]:
# Create grouped data showing counts of empire vs resistance.

print(df.groupby('empire_or_resistance')['empire_or_resistance'].count())

empire_or_resistance
empire        475
resistance    525
Name: empire_or_resistance, dtype: int64

In [32]:
# Create grouped data showing counts of characters by homeworld
print(df.groupby('homeworld')['homeworld'].count())

homeworld
Alderaan        21
Aleen Minor     17
Bestine IV      20
Cerea           24
Champala        21
Chandrila       29
Concord Dawn    19
Corellia        26
Dagobah         36
Dathomir        21
Dorin           20
Eriadu          23
Glee Anselm     24
Haruun Kal      18
Iktotch         37
Iridonia        25
Kalee           22
Kashyyyk        22
Malastare       19
Mirial          22
Mon Cala        28
Muunilinst      28
Naboo           26
Ojom            14
Quermia         13
Rodia           39
Ryloth          19
Serenno         25
Shili           31
Skako           21
Socorro         34
Stewjon         23
Sullust         27
Tatooine        27
Tholoth         16
Toydaria        26
Trandosha       23
Troiken         24
Tund            24
Umbara          24
Vulpter         25
Zolan           17
Name: homeworld, dtype: int64

In [33]:
# Created grouped data showing counts of characters by unit_type.

print(df.groupby('unit_type')['unit_type'].count())

unit_type
at-at                 110
at-st                 136
resistance_soldier    128
stormtrooper          131
tie_fighter           125
tie_silencer          122
unknown               134
x-wing                114
Name: unit_type, dtype: int64